@model web2.Models.HocVien
@{
    ViewBag.title = "Chỉnh sửa thông tin học viên";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPageAdmin.cshtml";
    web2.Models.quanLyTrungTamDayDanEntities db = new web2.Models.quanLyTrungTamDayDanEntities();

}
<div class="row">
    <div class="col display-5" style="text-align:center">Chỉnh sửa thông tin học viên</div>
</div>
<Hr />
<form class="row" action="@Url.Action("Submit_Edit_Student_Infor", "HomeAdmin", new { area = "Admin" })" method="post" id="inputForm">
    <div class="col-sm-12 col-md-6 col-xl-4 mb-3 mt-3">
        <label for="" class="form-label">Mã học viên:</label>
        <input type="text" class="form-control" id="mahv" placeholder="Mã" name="Ma" value="@Model.Ma_hoc_vien" readonly>
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4 mb-3 mt-3">
        <label for="" class="form-label">Tên học viên:</label>
        <input type="text" class="form-control" id="tenhv" placeholder="Tên" name="Ten" value="@Model.Ho_va_ten">
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4 mb-3 mt-3">
        <label for="" class="form-label">Ngày sinh:</label>
        <input type="text" class="form-control" id="tenhv" placeholder="Tên" name="NgaySinh" value="@Model.Ngay_sinh_formatted">
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4 mb-3 mt-3">
        <label for="" class="form-label">Cập nhật ngày sinh:</label>
        <input type="date" class="form-control" id="ngaysinh" name="NgaySinhNew" />
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4 mb-3 mt-3">
        <label for="" class="form-label">Sđt:</label>
        <input type="text" class="form-control" id="sdt" placeholder="Số điện thoại" name="Sdt" value="@Model.Sdt">
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4 mb-3 mt-3">
        <label for="" class="form-label">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Email" name="Email" value="@Model.Email">
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4 mb-3 mt-3">
        <label for="" class="form-label">Địa chỉ:</label>
        <input type="text" class="form-control" id="diachi" placeholder="Địa chỉ" name="DiaChi" value="@Model.Dia_chi">
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4 mb-3 mt-3">
        <label for="" class="form-label">Tài khoản:</label>
        <input type="text" class="form-control" id="tk" placeholder="Tài khoản" name="TaiKhoan" value="@Model.Tai_khoan">
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4 mb-3 mt-3">
        <label for="" class="form-label">Mật khẩu:</label>
        <input type="text" class="form-control" id="mk" placeholder="Mật khẩu" name="MatKhau" value="@Model.Mat_khau">
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4 mb-3 mt-3">
        <label>Phân quyền:</label>
        <select class="form-select mt-2" id="selphanquyen" name="PhanQuyen">
            <option value="">Nhấn để chọn</option>
            <option value="true" @(Model.Phan_quyen == true ? "selected" : "")>Học viên</option>
        </select>
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4 mb-3 mt-3">
        <label>Thay đổi lớp học:</label>
        <select class="form-select mt-2" id="sellophv" name="ThemLop">
            <option value="">Nhấn để chọn</option>
            @foreach (var lop in db.LopHocs.ToList())
            {
                <option value="@lop.Ma_lop">@lop.Ten_lop_hoc</option>
            }
        </select>
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4 mb-3 mt-3">
        <label for="" class="form-label">Lớp học hiện tại:</label>
        <input type="text" class="form-control" id="lop" placeholder="lớp" name="Lop" value="@Model.Lop_hoc_tham_gia">
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4 mb-3 mt-3">
        <label>Trạng thái học phí:</label>
        <select class="form-select mt-2" id="selhocphi" name="HocPhi" value="@Model.Trang_thai_hoc_phi">
            <option value="">Nhấn để chọn</option>
            <option value="true">Đã đóng học phí</option>
            <option value="false">Chưa đóng học phí</option>
        </select>
    </div>
    <div class="row d-grid gap-2">
        <button class="btn btn-success" type="submit" name="submit">Lưu</button>
    </div>
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        var form = document.getElementById('inputForm');
        form.addEventListener('submit', function (event) {
            var checkInputs = document.getElementById('inputForm').querySelectorAll('input');
            checkInputs.forEach(function (input) {
                if (input.value.trim() === "") {
                    event.preventDefault();
                    input.classList.add('is-invalid');
                }
                else {
                    input.classList.remove('is-invalid')
                }
            });
            var checkSelects = document.getElementById('inputForm').querySelectorAll('select');
            checkSelects.forEach(function (select) {
                if (select.value.trim() === "") {
                    event.preventDefault();
                    input.classList.add('is-invalid');
                }
                else {
                    input.classList.remove('is-invalid')
                }
            });
        });
    });
</script>