@model web2.Models.LopHoc
@{
    ViewBag.Title = "Edit_Class_Infor";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPageAdmin.cshtml";
    web2.Models.quanLyTrungTamDayDanEntities db = new web2.Models.quanLyTrungTamDayDanEntities();
}

<div class="row">
    <div class="col display-5" style="text-align:center">Chỉnh sửa lớp học</div>
</div>
<Hr />
<form class="row" action="@Url.Action("Submit_Edit_Class_Infor", "HomeAdmin", new { area = "Admin" })" id="inputForm" method="post">
    <div class="col-sm-12 col-md-6 col-xl-4 mb-3 mt-3">
        <label for="" class="form-label">Mã lớp học:</label>
        <input type="text" class="form-control" id="ma" placeholder="Mã" name="Ma" value="@Model.Ma_lop" readonly>
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4 mb-3 mt-3">
        <label for="" class="form-label">Tên lớp học:</label>
        <input type="text" class="form-control" id="ten" placeholder="Tên" name="Ten" value="@Model.Ten_lop_hoc">
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4 mb-3 mt-3">
        <label for="" class="form-label">Mô tả:</label>
        <input type="text" class="form-control" id="mota" placeholder="Mô tả" name="MoTa" value="@Model.Mo_ta">
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4 mb-3 mt-3">
        <label for="" class="form-label">Phòng học:</label>
        <input type="text" class="form-control" id="phong" placeholder="Phòng học" name="Phong" value="@Model.Phong_hoc">
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4 mb-3 mt-3">
        <label for="" class="form-label">Mã thời khoá biểu:</label>
        <input type="text" class="form-control" id="matkb" placeholder="Mã thời khoá biểu" name="MaTKB" value="@Model.Ma_thoi_gian_bieu">
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4 mb-3 mt-3">
        <label for="" class="form-label">Ngày bắt đầu:</label>
        <input type="date" class="form-control" id="ngaybd" name="NgayBD" value="@Model.Ngay_bat_dau_formatted">
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4 mb-3 mt-3">
        <label for="" class="form-label">Cập nhật ngày bắt đầu:</label>
        <input type="date" class="form-control" id="ngaybd" name="NgayBDNew">
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4 mb-3 mt-3">
        <label for="" class="form-label">Ngày kết thúc:</label>
        <input type="date" class="form-control" id="ngaykt" name="NgayKT" value="@Model.Ngay_ket_thuc_formatted">
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4 mb-3 mt-3">
        <label for="" class="form-label">Ngày kết thúc:</label>
        <input type="date" class="form-control" id="ngaykt" name="NgayKTNew">
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4 mb-3 mt-3">
        <label for="" class="form-label">Số tiết:</label>
        <input type="number" class="form-control" id="sotiet" placeholder="Số tiết học" name="SoTiet" value="@Model.So_tiet_hoc">
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4 mb-3 mt-3">
        <label for="" class="form-label">Khoá học hiện tại:</label>
        <input type="text" class="form-control" id="selkhoa" name="KhoaHoc" value="@Model.Ma_khoa_hoc">
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4 mb-3 mt-3">
            <label>Khoá học:</label>
            <select class="form-select mt-2" id="selkhoa" name="KhoaHocNew">
                <option value="">Nhấn để chọn</option>
                @foreach (var khoa in db.KhoaHocs.ToList())
                {
                    <option value="@khoa.Ma_khoa_hoc">@khoa.Ten_khoa_hoc</option>
                }
            </select>
        </div>
    <hr />
    <div class="row d-grid gap-2">
        <input class="btn btn-success" type="submit" name="submit" value="Lưu">
    </div>
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>


