@model web2.Models.LopHoc
@{
    ViewBag.Title = "ScheduleStudent";
    Layout = "~/Areas/Student/Views/Shared/_LayoutStudent.cshtml";
    ViewBag.Active = "schedulestudent";
    web2.Models.quanLyTrungTamDayDanEntities db = new web2.Models.quanLyTrungTamDayDanEntities();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ScheduleStudent</title>
</head>
<body>
    <div class="container">
        <h1>Thời khóa biểu</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Thứ</th>
                    <th>Từ</th>
                    <th>Đến</th>
                    <th>Môn học</th>
                    <th>Giảng viên</th>
                </tr>
            </thead>
            @*<tbody>
                @foreach (va tkb in Model.ThoiGianBieu)
                {
                    <tr>
                        <td>@tkb.Hoc_vao_thu</td>
                        <td>@tkb.Thoi_gian_bat_dau</td>
                        <td>@tkb.Thoi_gian_ket_thuc</td>
                        <td>@tkb.Ten_mon_hoc</td>
                        <td>@tkb.Ten_giao_vien</td>
                    </tr>
                }
            </tbody>*@
        </table>
    </div>
</body>
</html>
